version: '3'

services:
  db:
    container_name: postgresdb
    image: postgres:14.7-alpine
    restart: always
    ports:
      - '${DB_PORT}:5432'
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - ./.postgres:/var/lib/postgresql/data
